<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12528674316-l15q5osr3jg6bjeg6n1j1edu2djjpq30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12528674316-l15q5osr3jg6bjeg6n1j1edu2djjpq30</string>
	<key>API_KEY</key>
	<string>AIzaSyBDXDhLrvH-Sun2dMH-JKON82m64pjpUuE</string>
	<key>GCM_SENDER_ID</key>
	<string>12528674316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Blake.Meowist</string>
	<key>PROJECT_ID</key>
	<string>meowist-5d94b</string>
	<key>STORAGE_BUCKET</key>
	<string>meowist-5d94b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12528674316:ios:58c39f54f95e2d0ebbf029</string>
	<key>DATABASE_URL</key>
	<string>https://meowist-5d94b.firebaseio.com</string>
</dict>
</plist>